body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: sans-serif;
  background-image: url('bg-image.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.dflex {
  display: flex;
}

.d-none {
  display: none;
}

.title-container {
  font-size: 50px;
  text-decoration: underline;
  font-weight: bold;
  margin: 40px;
}

.main-container {
  flex-direction: row;
  margin: 70px 50px;
}

.list-container {
  width: 40%;
  flex-direction: column;
  padding-left: 20px;
}

.leadbord-list {
  flex-direction: column;
  border: 2px solid grey;
  padding: 0;
  margin: 0;
  width: 100%;
}

.leadbord-list li {
  list-style: none;
  padding: 10px;
  padding-left: 20px;
}

.leadbord-list h3 {
  font-size: 16px;
  font-weight: 500;
}

.white-row {
  background-color: #f1f2f5;
}

.grey-row {
  background-color: rgb(175, 175, 175);
}

.list-header {
  justify-content: space-between;
  font-size: 20px;
  margin-bottom: 30px;
}

.refresh-btn {
  align-self: center;
  font-size: 18px;
  border: 1px solid grey;
  border-radius: 0.3rem;
}

.add-container {
  flex-direction: column;
  padding-left: 15%;
  width: 50%;
}

.add-form {
  flex-direction: column;
  width: 100%;
}

.add-title {
  font-size: 2rem;
  margin-bottom: 33px;
}

.add-form input {
  margin-bottom: 25px;
  padding: 10px;
}

.add-form button {
  padding: 10px;
  width: 20%;
  margin: 0;
  margin-left: 80%;
}

.alert {
  margin-top: 10px;
}
